@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar {
  background-color: #F9F9F9;
}

.nav-user {
  color: #444444;
}

.nav-kindergarten {
  color: #A5C365;
}

.greenbg {
  background-color: #A5C365;
}


.border-gray {
  border-color: #C2C2C2;
}

.border-sidebar {
  position: relative;
}

.border-sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 3px transparent;
  background: linear-gradient(#C2C2C2, #FFFFFF);
  background-clip: padding-box, border-box; 
  box-shadow: inset 0 0 0 2px transparent;
}

.menu-item-gradient {
  background: linear-gradient(to bottom, #F9F9F9, #E0E0E0, #F9F9F9);
}

.vertical-border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%; 
  bottom: 10%; 
  border-left: 1px solid #C2C2C2;
  width: 0;
}


.fc .fc-button {
  background: linear-gradient(to top, white, rgba(128, 128, 128, 0.15), white);
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 0.375rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: orange;
}

.fc .fc-button:hover {
  background: linear-gradient(to top, rgba(255, 166, 0, 0.254), rgba(255, 166, 0, 0.654), rgba(255, 166, 0, 0.254));
  border: 1px solid rgba(128, 128, 128, 0.1);
  color: white;
}

.fc .fc-today-button {
  display: none;
}

.fc-header-toolbar .fc-createEventButton-button {
  background: linear-gradient(to top, #ff8000ce 10%, #ff8000d5 90%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.fc-header-toolbar .fc-createEventButton-button:hover {
  background: linear-gradient(to top, #ff7f00 10%, #ff7f00 90%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.fc-day-sat, .fc-day-sun {
  color: red;
}

.modalbg {
  background-color: #F9F9F9;
}
