@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.navbar {
  background-color: #F9F9F9;
}

.nav-user {
  color: #444444;
}

.nav-kindergarten {
  color: #A5C365;
}

.greenbg {
  background-color: #A5C365;
}


.border-gray {
  border-color: #C2C2C2;
}

.border-sidebar {
  position: relative;
}

.border-sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 3px transparent;
  background: linear-gradient(#C2C2C2, #FFFFFF);
  background-clip: padding-box, border-box; 
  box-shadow: inset 0 0 0 2px transparent;
}

.menu-item-gradient {
  background: linear-gradient(to bottom, #F9F9F9, #E0E0E0, #F9F9F9);
}

.vertical-border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%; 
  bottom: 10%; 
  border-left: 1px solid #C2C2C2;
  width: 0;
}
